@model Evento.Domain.Entity.Categoria

@{
    ViewData["Title"] = "Categorias";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-0">
            <div class="col-sm-6">
                <h1>Categorias</h1>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-outline-secondary float-sm-right" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">

                <!-- Default box -->
                <div class="card card-blue card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Editar Categoria</h3>

                        <div class="card-tools">
                            @*<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fa fa-times"></i>
                            </button>*@
                        </div>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CategoriaId" />
                        <div class="form-group">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdadeIni" class="control-label"></label>
                            <input asp-for="IdadeIni" class="form-control" />
                            <span asp-validation-for="IdadeIni" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdadeFin" class="control-label"></label>
                            <input asp-for="IdadeFin" class="form-control" />
                            <span asp-validation-for="IdadeFin" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-outline-primary" />
                            <a class="btn btn-outline-secondary" asp-action="Index"> Voltar</a>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </form>
        </div>
    </div>
</section>
<!-- /.content -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
