@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Sistema de Eventos</h1>
    <p>Visite nossa página <a href="https://http://fazendoarterecreacao.com.br/" target="_blank">Fazendo Arte e Eventos</a>.</p>
</div>
